/*=============================================
=                    Header                    =
=============================================*/

/*=====  End of Header  ======*/

/*=============================================
=                 Shop Items                  =
=============================================*/

#shop-items-div {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#shop-items-bg-card {
	width: 100%;

	display: flex;
	justify-content: center;
	border: none;
	background-color: transparent;
}

#shop-items-card {
	background-color: transparent;
	border: none;
}

/*----------  The Essentials Card  ----------*/

#essentials-card {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #32393f;
	color: white;
}

#essentials-card .card-title {
	font-size: 2em;
}

#essentials-card-img {
	width: 20em;
	height: 20em;
	z-index: 3;
	position: absolute;
	left: 25em;
	top: 0em;
}

.shop-btn {
	border-radius: 20px;
	padding: 1em;
}

/*=====  End of Shop Items  ======*/
