/*=============================================
= Shop Items - Everything below Header vid                 =
=============================================*/

#shop-items-div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#shop-items-bg-card {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

#shop-items-card {
	width: 90%;
	background-color: transparent;
	border: none;
}

/*----------  The Essentials Card  ----------*/

#essentials-card-container {
	position: relative;
	margin-top: 1em;
}

#essentials-card {
	width: 100%;
	height: 30rem;
	background: linear-gradient(#334454, #16222c);
	color: white;
	padding-left: 10em;
	display: flex;
	justify-content: center;
	align-items: start;
}

#essentials-card .card-title {
	font-size: 2.9rem;
}

#essentials-card-img {
	width: 30em;
	height: 30em;
	z-index: 3;

	position: absolute;
	left: 30%;
	bottom: 0;
}

.shop-btn {
	padding: 1em;
}

/*---------- Product Tiles  ----------*/

/* Shop particular item card (e.g. joggers) */
.product-tiles-container {
	position: relative;
	display: flex;
	justify-content: space-between;
}

#product-tiles-bg-div {
	position: absolute;
	left: 0;
	right: 0;
	top: 10%;
	bottom: 10%; /* Set the height of the backdrop as needed */
	background-color: rgb(80, 82, 90); /* Adjust the background color and opacity */
	z-index: 0;
	border-radius: 10px;
}
