html {
	box-sizing: border-box;
}

.Overlay.Show {
	display: block;
}

/* MODAL */
.Modal {
	position: fixed;
	bottom: -150vh;
	background-color: white;
	color: #100c0c;
	width: 30%;
	box-shadow: 0 0 10px 0px #5a6873;
	left: 70%;
	padding: 0 12px 12px;
	transition: all 0.3s ease-out;
	z-index: 10;
}

.Modal.Show {
	bottom: 0;
	border-radius: 0.2rem;
}

.Close {
	cursor: pointer;
	position: absolute;
	background-color: transparent;
	border: 0;
	font-size: 18px;
	padding: 3px;
}

/* FOOTER */
.footer-header {
	font-size: 0.9em;
	font-weight: 700;
}

.footer-link {
	font-size: 0.9em;
	color: #5a6873;
	text-decoration: none;
}

.logo {
	width: 4vw;
}

/* NAVBAR */
.navbar-cstm {
	display: flex !important;
	flex-direction: row !important;
	width: 100% !important;
	justify-content: space-between !important;
	background-color: #1f3140 !important;
}

.profile-pic {
	width: 1.5vw;
	border-radius: 100px;
	border: 1px solid white;
}
