.arrow {
  font-size: 1.8em;
  padding: 0.2em;
}

.direction-btn {
  display: flex;
  align-items: center;
  padding: 0.7em;
  font-size: 0.9em;
  border-radius: 100px;
  border: 1px solid white;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
