/*=============================================
=                 Main                  =
=============================================*/

#bg-div {
	color: #32393f;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*=============================================
=          Intro Card Overlay                =
=============================================*/

#intro-bg-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-bg-card {
	width: 90%;
	height: 100%;
	background-color: #5a6873;
	border: none;
	border-radius: 0px;
}

.intro-card {
	border: none;
	padding: 5px;
	margin: 5px;
	background-color: transparent;
	color: white;
}

/*----------  Intro Card Components  ----------*/

.social-links {
	margin-bottom: 2vw;
}

.about-us-btn {
	color: white;
	background-color: transparent;
	border: 1px solid white;
}

.header-text {
	margin: 2vw;
}

/*----------  Featured products  ----------*/

.featured-products {
	height: 100%;
	width: fit-content;
	margin: 2vw;
}

#featured-prod-car {
	background-color: black;
	border: 1px solid darkgray;
}

.featured-products img {
	opacity: 0.5;
}
#featured-prods-caption {
	color: black;
}

.view-products-btn {
	background-color: #32393f;
	border: none;
	width: fit-content;
	margin-top: 1vw;
}

#intro-img {
	width: 100%;
	height: 100%;
	overflow: visible;
}

/*=============================================
=            Shop Essentials                  =
=============================================*/
#essentials-bg {
	width: 90%;
}
.essentials {
}

#essentials-card {
	display: flex;
	height: 20em;
	background-color: #32393f;
	color: white;
	z-index: 5;
}

.subsection-header {
	font-size: 2em;
}

#essentials-img {
	width: 20em;
	height: 20em;
	z-index: 3;
	position: absolute;
	left: 30em;
	top: 0em;
}

#shop-essentials-btn {
	border-radius: 20px;
	padding: 1em;
}
