#product-card {
	border: none;
	margin: none;
	width: 20rem;
}

#wishlist-btn {
	position: absolute;
	margin: 10px;
	border: none;
	border-radius: 20px;
}

#product-name-div {
	display: flex;
	flex-direction: row;
	padding-top: 8px;
}

#product-name {
	font-size: 0.98em;
	margin-right: 10px;
}

#product-name-link {
	text-decoration: none;
	color: black;
}

#product-price {
	font-size: 1em;
	white-space: nowrap;
}

#product-color {
	color: gray;
	font-size: 0.8em;
}

/* QUICK ADD */
#card-body-div {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
}

#quick-add-div {
	position: absolute;
	opacity: 0.9;
	top: 40%;
	left: 10%;
	width: 70%;
	height: 30%;
	background-color: white;
	border-radius: 25px;
	padding: 10px;
}

#quick-add-card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#quick-add-title {
	font-size: 1em;
}

#size-div {
	display: flex;
	flex-direction: row;
}

.size-btn {
	margin: 5px;
	border: 1px solid gray;
}

.color-btn {
	margin: 5px;
	border: 1px solid gray;
	color: transparent;
}

#img {
	aspect-ratio: 3/4;
	object-fit: contain;
}
