body {
  background-color: #100c0c;
  margin: 0;
  padding: 0;
  background-image: url(/Users/johnnylaidler/studentlifter/src/Photos/equipment.png);
}

.bg-image {
  background-image: url(/Users/johnnylaidler/studentlifter/src/Photos/equipment.png);
}
