body {
	margin: 0;
	padding: 0;
	background-image: url('/src/Resources/Photos/equipment.png');
}

.bg-image {
	background-image: url('/src/Resources/Photos/equipment.png');
	color: rgb(79, 38, 38);
}
