@font-face {
	font-family: 'Sunset Gothic';
	src: url('./Resources/Uploaded_Fonts/SunsetGothic.ttf'); /* For TTF fonts */
	/* Add additional font formats as necessary */
}

.card {
	font-family: 'Sunset Gothic', sans-serif, 'Courier New', Courier, monospace;
}

/* Sets the color for title subtext */
.subtext {
	font-size: 0.9em;
	color: lightslategray
}

h1,
h3,
h4,
h6 {
	font-family: 'Sunset Gothic', sans-serif, 'Courier New', Courier, monospace;
}

.bg-image {
	font-family: sans-serif;
	background-color: #dbdbd9;
	z-index: 2;
}
